
openapi: 3.1.0
info:
  title: ARCTOS GRC Platform API
  version: 1.0.0
  description: "Auto-generated OpenAPI skeleton from file-system structure of apps/web/src/app/api/v1/.\nNOT a complete spec: request/response schemas need Zod→JSON-Schema adapter (see docs/ADR-TBD).\nGenerated by scripts/generate-openapi.mjs."
servers:
  - 
    url: "https://arctos.charliehund.de"
    description: Production
  - 
    url: "http://localhost:3000"
    description: Local dev
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Session cookie-based auth via Auth.js. Values in security[].bearerAuth[] are REQUIRED role names.
paths:
  "/api/v1/academy/certificates":
    get:
      summary: GET /api/v1/academy/certificates
      tags:
        - academy
      security: []
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/academy/courses/{id}":
    get:
      summary: GET /api/v1/academy/courses/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/academy/courses/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/academy/courses/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/academy/courses":
    get:
      summary: GET /api/v1/academy/courses
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/academy/courses
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/academy/dashboard":
    get:
      summary: GET /api/v1/academy/dashboard
      tags:
        - academy
      security: []
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/academy/enrollments/{id}/progress":
    patch:
      summary: PATCH /api/v1/academy/enrollments/{id}/progress
      tags:
        - academy
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/academy/enrollments/bulk":
    post:
      summary: POST /api/v1/academy/enrollments/bulk
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/academy/enrollments":
    get:
      summary: GET /api/v1/academy/enrollments
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/academy/enrollments
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/academy/lessons/{id}":
    get:
      summary: GET /api/v1/academy/lessons/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/academy/lessons/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/academy/lessons/{id}
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/academy/lessons":
    get:
      summary: GET /api/v1/academy/lessons
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/academy/lessons
      tags:
        - academy
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/academy/quiz-attempts":
    post:
      summary: POST /api/v1/academy/quiz-attempts
      tags:
        - academy
      security: []
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/access-log":
    get:
      summary: GET /api/v1/access-log
      tags:
        - access-log
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/abac/audit":
    get:
      summary: GET /api/v1/admin/abac/audit
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/abac/policies/{id}":
    get:
      summary: GET /api/v1/admin/abac/policies/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/admin/abac/policies/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/admin/abac/policies/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/abac/policies":
    get:
      summary: GET /api/v1/admin/abac/policies
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/abac/policies
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/abac/test":
    post:
      summary: POST /api/v1/admin/abac/test
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/custom-fields/{entityType}":
    get:
      summary: GET /api/v1/admin/custom-fields/{entityType}
      tags:
        - admin
      security: []
      parameters:
        - 
          name: entityType
          in: path
          required: true
          schema:
            type: string
            format: string
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/custom-fields":
    get:
      summary: GET /api/v1/admin/custom-fields
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/custom-fields
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/languages":
    get:
      summary: GET /api/v1/admin/languages
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/admin/languages
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/org-hierarchy":
    get:
      summary: GET /api/v1/admin/org-hierarchy
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/admin/org-hierarchy
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/performance/cache-invalidate":
    post:
      summary: POST /api/v1/admin/performance/cache-invalidate
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/performance/cache-stats":
    get:
      summary: GET /api/v1/admin/performance/cache-stats
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/performance/slow-queries":
    get:
      summary: GET /api/v1/admin/performance/slow-queries
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/roles/{id}":
    get:
      summary: GET /api/v1/admin/roles/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/admin/roles/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/admin/roles/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/roles/{id}/users/{userId}":
    delete:
      summary: DELETE /api/v1/admin/roles/{id}/users/{userId}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - 
          name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/roles/{id}/users":
    get:
      summary: GET /api/v1/admin/roles/{id}/users
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/roles/{id}/users
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/roles":
    get:
      summary: GET /api/v1/admin/roles
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/roles
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/scim/logs":
    get:
      summary: GET /api/v1/admin/scim/logs
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/scim/stats":
    get:
      summary: GET /api/v1/admin/scim/stats
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/scim/tokens/{id}":
    delete:
      summary: DELETE /api/v1/admin/scim/tokens/{id}
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/scim/tokens":
    get:
      summary: GET /api/v1/admin/scim/tokens
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/scim/tokens
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/sso/discover":
    post:
      summary: POST /api/v1/admin/sso/discover
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/sso/metadata":
    post:
      summary: POST /api/v1/admin/sso/metadata
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/admin/sso":
    get:
      summary: GET /api/v1/admin/sso
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/admin/sso
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    put:
      summary: PUT /api/v1/admin/sso
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/admin/sso
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/admin/sso/test":
    post:
      summary: POST /api/v1/admin/sso/test
      tags:
        - admin
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/agents/{id}/log":
    get:
      summary: GET /api/v1/agents/{id}/log
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/agents/{id}":
    get:
      summary: GET /api/v1/agents/{id}
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/agents/{id}
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/agents/{id}/run":
    post:
      summary: POST /api/v1/agents/{id}/run
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/agents/dashboard":
    get:
      summary: GET /api/v1/agents/dashboard
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/agents/recommendations/{id}":
    put:
      summary: PUT /api/v1/agents/recommendations/{id}
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/agents/recommendations":
    get:
      summary: GET /api/v1/agents/recommendations
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/agents":
    get:
      summary: GET /api/v1/agents
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/agents
      tags:
        - agents
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/authority":
    get:
      summary: GET /api/v1/ai-act/authority
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/authority
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/conformity-assessments/{id}":
    get:
      summary: GET /api/v1/ai-act/conformity-assessments/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/ai-act/conformity-assessments/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/conformity-assessments":
    get:
      summary: GET /api/v1/ai-act/conformity-assessments
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/conformity-assessments
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/corrective-actions/{id}":
    get:
      summary: GET /api/v1/ai-act/corrective-actions/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/ai-act/corrective-actions/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/corrective-actions":
    get:
      summary: GET /api/v1/ai-act/corrective-actions
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/corrective-actions
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/dashboard":
    get:
      summary: GET /api/v1/ai-act/dashboard
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/ai-act/framework-mappings/{id}":
    get:
      summary: GET /api/v1/ai-act/framework-mappings/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/ai-act/framework-mappings/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/framework-mappings":
    get:
      summary: GET /api/v1/ai-act/framework-mappings
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/framework-mappings
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/frias/{id}":
    get:
      summary: GET /api/v1/ai-act/frias/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/ai-act/frias/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/frias":
    get:
      summary: GET /api/v1/ai-act/frias
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/frias
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/gpai/{id}":
    get:
      summary: GET /api/v1/ai-act/gpai/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/ai-act/gpai/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/gpai":
    get:
      summary: GET /api/v1/ai-act/gpai
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/gpai
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/incidents/{id}":
    get:
      summary: GET /api/v1/ai-act/incidents/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/ai-act/incidents/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/incidents":
    get:
      summary: GET /api/v1/ai-act/incidents
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/incidents
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/oversight-logs":
    get:
      summary: GET /api/v1/ai-act/oversight-logs
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - control_owner
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/oversight-logs
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - control_owner
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/penalties":
    get:
      summary: GET /api/v1/ai-act/penalties
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/penalties
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/prohibited":
    get:
      summary: GET /api/v1/ai-act/prohibited
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/prohibited
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/qms":
    get:
      summary: GET /api/v1/ai-act/qms
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/qms
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/systems/{id}":
    get:
      summary: GET /api/v1/ai-act/systems/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/ai-act/systems/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/ai-act/systems/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/ai-act/systems":
    get:
      summary: GET /api/v1/ai-act/systems
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/systems
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/transparency-entries/{id}":
    get:
      summary: GET /api/v1/ai-act/transparency-entries/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/ai-act/transparency-entries/{id}
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai-act/transparency-entries":
    get:
      summary: GET /api/v1/ai-act/transparency-entries
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/ai-act/transparency-entries
      tags:
        - ai-act
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - dpo
            - auditor
            - viewer
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai/control-suggestions":
    post:
      summary: POST /api/v1/ai/control-suggestions
      tags:
        - ai
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - control_owner
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai/rcm-gap-analysis":
    post:
      summary: POST /api/v1/ai/rcm-gap-analysis
      tags:
        - ai
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai/root-cause-patterns":
    post:
      summary: POST /api/v1/ai/root-cause-patterns
      tags:
        - ai
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - auditor
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai/test-plan":
    post:
      summary: POST /api/v1/ai/test-plan
      tags:
        - ai
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
            - auditor
            - control_owner
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/ai/usage":
    get:
      summary: GET /api/v1/ai/usage
      tags:
        - ai
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/api-keys/{id}":
    get:
      summary: GET /api/v1/api-keys/{id}
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    patch:
      summary: PATCH /api/v1/api-keys/{id}
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/api-keys/{id}
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/api-keys":
    get:
      summary: GET /api/v1/api-keys
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/api-keys
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/api-keys/scopes":
    get:
      summary: GET /api/v1/api-keys/scopes
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/api-keys/usage":
    get:
      summary: GET /api/v1/api-keys/usage
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/api-keys/usage/stats":
    get:
      summary: GET /api/v1/api-keys/usage/stats
      tags:
        - api-keys
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assets/{id}/effective-cia":
    get:
      summary: GET /api/v1/assets/{id}/effective-cia
      tags:
        - assets
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assets/{id}":
    get:
      summary: GET /api/v1/assets/{id}
      tags:
        - assets
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    put:
      summary: PUT /api/v1/assets/{id}
      tags:
        - assets
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
    delete:
      summary: DELETE /api/v1/assets/{id}
      tags:
        - assets
      security:
        - 
          bearerAuth:
            - admin
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assets/{id}/work-items":
    get:
      summary: GET /api/v1/assets/{id}/work-items
      tags:
        - assets
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assets/hierarchy":
    get:
      summary: GET /api/v1/assets/hierarchy
      tags:
        - assets
      security: []
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assets":
    get:
      summary: GET /api/v1/assets
      tags:
        - assets
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/assets
      tags:
        - assets
      security:
        - 
          bearerAuth:
            - admin
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/assurance/scores/{module}":
    get:
      summary: GET /api/v1/assurance/scores/{module}
      tags:
        - assurance
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
      parameters:
        - 
          name: module
          in: path
          required: true
          schema:
            type: string
            format: string
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assurance/scores":
    get:
      summary: GET /api/v1/assurance/scores
      tags:
        - assurance
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/assurance/trend":
    get:
      summary: GET /api/v1/assurance/trend
      tags:
        - assurance
      security:
        - 
          bearerAuth:
            - admin
            - risk_manager
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/audit-log/integrity-check":
    get:
      summary: GET /api/v1/audit-log/integrity-check
      tags:
        - audit-log
      security:
        - 
          bearerAuth:
            - admin
            - auditor
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/audit-log/integrity":
    get:
      summary: GET /api/v1/audit-log/integrity
      tags:
        - audit-log
      security:
        - 
          bearerAuth:
            - admin
            - auditor
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/audit-log":
    get:
      summary: GET /api/v1/audit-log
      tags:
        - audit-log
      security:
        - 
          bearerAuth:
            - admin
            - auditor
            - dpo
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/audit-mgmt/analytics/imports/{id}/analyze":
    post:
      summary: POST /api/v1/audit-mgmt/analytics/imports/{id}/analyze
      tags:
        - audit-mgmt
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/audit-mgmt/analytics/imports/{id}/results":
    get:
      summary: GET /api/v1/audit-mgmt/analytics/imports/{id}/results
      tags:
        - audit-mgmt
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
  "/api/v1/audit-mgmt/analytics/imports":
    get:
      summary: GET /api/v1/audit-mgmt/analytics/imports
      tags:
        - audit-mgmt
      security: []
      parameters: []
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
    post:
      summary: POST /api/v1/audit-mgmt/analytics/imports
      tags:
        - audit-mgmt
      security: []
      parameters: []
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: object
  "/api/v1/audit-mgmt/analytics/results/{id}/create-finding":
    post:
      summary: POST /api/v1/audit-mgmt/analytics/results/{id}/create-finding
      tags:
        - audit-mgmt
      security: []
      parameters:
        - 
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
        "201":
          description: Created / Updated
          content:
            "application/json":
              schema:
                type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          description: Validation failed
          content:
            "application/json":
              schema:
                type: object
[...]
